@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* whole page container */
.my-account-container {
    display: flex;
    min-height: 100vh;
}


.logo img {
    width: 300px; /* Adjust width as needed */
    height: auto;  /* Keeps aspect ratio */
    margin-bottom: 30px; 
}

.main-content {
    padding-top: 100px;
    padding-left: 80px;
    flex-grow: 1;
    background-color: #4D55A5;
    min-height: 100vh; /* to fill all with color*/
    overflow: hidden;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}

.background-logo {
    position: absolute;
    right: 100px;
    margin-top: 210px;
    opacity: 0.3; /* 30% opacity */
    width: 530px; /* Adjust width as needed */
    height: auto;
    pointer-events: none; /* Prevents the background from interfering with other elements */
}

.title-container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 35pt;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

.titleicon {
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

/* Container for form */
.user-info-container {
    margin-top: 10px;
    border-radius: 8px;
    max-width: 600px;
}

/* space between email and password forms */
.input-group {
    margin-bottom: 20px;
}

/* label sizes */
.input-group label {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

/* Align input and icons horizontally */
.input-with-icons {
    display: flex;
    align-items: center;
}

/* box sizes */
.input-with-icons input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 350px;
    transition: border-color 0.5s ease;
}

/* box border color when selecting */
.input-with-icons input:focus {
    border-color: #94C841; 
    outline: none; /* Removes the default blue outline */
    border-width: 4px;
}
.confirm {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 350px;
}

/* Icons for edit and save */
.mainicon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* margin to the first icon only (edit icon) */
.input-with-icons img:first-of-type {
    margin-left: 25px; /* Space between input and edit icon */
}

/* Smaller margin between edit and save icons */
.input-with-icons img + img {
    margin-left: 15px; /* Adjust space between icons */
}

.confirm-group {
    margin-top: -8px; /* space between password and confirm pw box */
}


.showicon {
    width: 37px;
    height: autopx;
    cursor: pointer;
}

/* Style for error messages */
.errorMessage {
    color: #FF4C4C; /* Red color for error */
    font-weight: normal;
    margin-top: 10px;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}

/* Style for success messages */
.successMessage {
    color: #94C841; /* Green color for success */
    font-weight: normal;
    margin-top: 10px;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}
