@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.main-container {
    background-color: #4D55A5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 30px;
}