
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Main container for the Report a Problem page */
.report-problem-main-container {
    background-color: #4d55a5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icon for the account button on the right */
.report-problem-right-icon {
    width: 70px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

/* Logo container */
.report-problem-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.report-problem-center-logo {
    height: auto;
    width: 400px;
    margin-top: 70px;
}

/* Background image */
.report-problem-background-image {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 1100px;
    height: auto;
    opacity: 0.3;
    filter: grayscale(100%);
    
      
}

/* Wrapper for the form */
.report-problem-wrapper {
    position: absolute;
    width: 600px;
    border-radius: 0px;
    padding: 30px;
    top: 160px;
    text-align: left;
}

/* Form box styling */
.report-problem-form-box {
    display:contents;
    flex-direction: column;
    
}

/* Title for the form */

.title-container {
    display: flex;
    align-items: center; 
    gap: 15px; 
  }
  
  .report-problem-icon {
    width: 80px; 
    height: auto;
  }
  
  .report-problem-title {
    color: #fff; 
    font-size: 40px; 
    font-weight: bold; 
    margin: 30; 
  }
  
/* Labels and input elements */


.report-problem-label, .report-problem-comments-label {
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    display: block;
}

.report-problem-select {
    width: 23%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 5px;
    font-size: 14px;
    margin-left: 0;
}

.report-problem-textarea {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-top: 5px;
}

.char-count {
    font-size: 12px;
    color: #fff;
    text-align: right;
}

/* Submit button */
.report-problem-submit-button {
    background-color: #93c83d;
    color: #000000;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.report-problem-submit-button:hover {
    background-color: #86b033;
}

/* Sign-in section */
.report-problem-sign-in {
    margin-top: 20px;
    text-align: center;
}

.report-problem-sign-in-text {
    font-size: 14px;
    color: #fff;
}

.report-problem-support-link {
    font-size: 14px;
    color: #93c83d;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.report-problem-support-link:hover {
    text-decoration: underline;
}
